{% extends 'base.html' %}
{% block title %}Marketplace{% endblock %}
{% block content %}
    <h1 class="title has-text-success">Marketplace</h1>
    <div class="is-flex is-flex-direction-column">
        <div class="mb-5">
            <a class="button is-large is-rounded is-ghost has-background-dark has-text-info-light is-hoverable" href="{{ url_for('buyers') }}">View All Buyers</a>
            <p class="content has-text-white is-size-7 mt-2">Buyers post requests seeking access, services, or tools, such as RDP credentials, VPNs, or exploits.</p>
        </div>
        <div class="mb-5">
            <a class="button is-large is-rounded is-ghost has-background-dark has-text-info-light is-hoverable" href="{{ url_for('sellers') }}">View All Sellers</a>
            <p class="content has-text-white is-size-7 mt-2">Sellers offer access, tools, or data, including RDP credentials, account dumps, or leaked databases.</p>
        </div>
    </div>
    <h2 class="subtitle has-text-white mt-5">Top 10 Buyers Posts</h2>
    <table class="table is-fullwidth is-striped is-dark has-text-white">
        <thead>
            <tr>
                <th class="has-text-white">Title</th>
                <th class="has-text-white">Category</th>
                <th class="has-text-white">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for post in buyer_posts %}
            <tr>
                <td><a class="has-text-info" href="{{ url_for('post_detail', post_id=post.id) }}" target="_blank">{{ post.title }}</a></td>
                <td>{{ post.category.name }}</td>
                <td>{{ post.date.strftime('%Y-%m-%d %H:%M') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2 class="subtitle has-text-white mt-5">Top 10 Sellers Posts</h2>
    <table class="table is-fullwidth is-striped is-dark has-text-white">
        <thead>
            <tr>
                <th class="has-text-white">Title</th>
                <th class="has-text-white">Category</th>
                <th class="has-text-white">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for post in seller_posts %}
            <tr>
                <td><a class="has-text-info" href="{{ url_for('post_detail', post_id=post.id) }}" target="_blank">{{ post.title }}</a></td>
                <td>{{ post.category.name }}</td>
                <td>{{ post.date.strftime('%Y-%m-%d %H:%M') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}