{% extends 'base.html' %}
{% block title %}Marketplace{% endblock %}
{% block content %}
    <h1 class="title has-text-success">Marketplace</h1>
    <h2 class="subtitle has-text-white">Sections</h2>
    <div class="content has-text-white">
        <ul>
            <li><a class="has-text-info" href="{{ url_for('buyers') }}">Buyers</a> - Browse requests from buyers seeking access or services.</li>
            <li><a class="has-text-info" href="{{ url_for('sellers') }}">Sellers</a> - View offerings from sellers (access, tools, data).</li>
        </ul>
    </div>
{% endblock %}