{% extends 'base.html' %}
{% block title %}Sellers{% endblock %}
{% block content %}
    <h1>Marketplace - Sellers</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Date</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td><a href="{{ url_for('post_detail', post_id=post.id) }}" target="_blank">{{ post.title }}</a></td>
            <td>{{ post.category }}</td>
            <td>{{ post.date }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}